span(data-ng-show='result.brand') {{ result.brand }}: 
a(data-ng-show='result.url && result.title' href='{{result.url}}') {{ result.title }} 
span.small.unit {{ result.unit }}
div.small {{ result.nutri }}
