.container
  ul.nav.nav-tabs
    li#resources(data-ng-click='showResources()' ng-class='{ active: tabs.resourcesTab }')
      a(href='javascript: void(0)') Resources
    li#results(data-ng-click='showResults()' data-ng-class='{ active: tabs.resultsTab }')
      a(href='javascript: void(0)') Results

.container(data-ng-show='tabs.resultsTab')
  .row
    .col-md-4(data-ng-repeat='api in resource_info.apis')
      div(data-ng-show='api.data.active === true')
        h2 {{ api.data.print_name }} 
          span.small 
            a(href='{{ api.data.api_url_link }}') api
        blockquote
          div(data-ng-show='search_results[api.name].results.length < 1')
            span
              | no results
          div(data-ng-repeat='result in search_results[api.name].results')
            div.result-block(data-ng-class-odd="'shade'")
              a(data-ng-show='result.url && result.title' href='{{result.url}}') {{result.title}}
          div.alert.alert-warning(ng-show='search_results[api.name] === undefined')
            warn Please Enter in a search term
          div.in-progress(data-ng-show='search_results[api.name].inProgress !== undefined')
            img(src='/img/loading.gif')

.container(data-ng-show='tabs.resourcesTab')
  .row
    .col-md-4(data-ng-repeat='api in resource_info.apis')
      h2 {{api.data.print_name}}  
        span.small(data-ng-show='api.data.api_url_link !== undefined')
          a(href='{{ api.data.api_url_link }}') api
      blockquote.quote
        p(data-ng-repeat='quote in api.data.quote')
          {{ quote }}
        small(data-ng-show='{{api.data.quote_attr !== undefined}}')
          cite {{api.data.quote_attr}}
      p
        a.btn.btn-default(href='#', role='button') View details »
