# img source stuff
img_src/

# private keys file
privatekeys.json

# vim
*.swp

# user
*.bak

# node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# logs pid files node_modules
pids/
logs/
!.gitkeep
node_modules/

# leave out files not yet in use

# config
karma-e2e.conf.js

# public/js
public/js/controllers.js
public/js/directives.js
public/js/filters.js
public/js/services.js

# scripts/
scripts/

# test/
test/

# .idea (webstorm?)
.idea/
