/* Move down content because we have a fixed navbar that is 50px tall */
body { 
  padding-top: 50px;
  padding-bottom: 20px;
  background: url('../img/sneaker_mesh_fabric.png');
  background-repeat: repeat;
}

/* Background top */
.jumbotron {
  background: url('../img/Birch_compressed.jpg');
  background-position:center; 
  -webkit-box-shadow: 0px 5px 10px 0px #888888;
  -moz-box-shadow:    0px 5px 10px 0px #888888;
  box-shadow:         0px 5px 10px 0px #888888;
}

/* Tweaks for phone-sized screens */
@media (max-width: 768px) {
  small#wikipopover {
    display: none;
  }
  img.back-right-img {
    width: 40px;
    height: auto;
  }
  .row.content-row {
    margin-left: 0px;
  }
}

/* For larger viewports as bootstrap doesn't define it */
@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

/* pineapple image positioning */
.back-right-img {
  position: absolute;
  right: 10px;
  top: 60px;
}

/* Less padding for the result columns */
div.col-md-4.ng-scope {
  padding: 0 0 5px 0;
}

/* API resource quotes */
.quote {
  background: url('../img/double-quote-40x26.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}

/* Progress loading wheel */
.in-progress {
  margin-left: 10px;
}

/* RESULT BLOCKS */

div.result-block {
  padding: 5px;
}

/* light-cream background */
div.shade {
  background-color: #F2EFE5;
}

/* fatsecret's unit of measure */
div.result-block .unit {
  float: right;
  font-weight: bold;
}

/* tooltip toggle */
span.tool-tip {
  border: 1px black dotted;
  padding: 1px;
}

/* OVERLOADING BOOTSTRAP TOOLTIP STYLES */

/* change from black background, white text, to the reverse */
.tooltip-inner {
  background-color: white !important;
  /* to override bootstrap's max-width */ 
  /* XXX use a media query - set dynamically */
  max-width: 400px;
  width: 400px !important;
  color: black !important;
}

/* array at the bottom of the tooltip */
.tooltip-arrow {
  border-top-color: white !important;
}

/* reddit's tooltip text */
div.md p {
  font-size: small;
}
