/* Move down content because we have a fixed navbar that is 50px tall */
body { 
  padding-top: 50px;
  padding-bottom: 20px;
  background: url('../img/sneaker_mesh_fabric.png');
  background-repeat: repeat;
}

/* Background top */
.jumbotron {
  background: url('../img/Birch_compressed.jpg');
  background-position:center; 
  -webkit-box-shadow: 0px 5px 10px 0px #888888;
  -moz-box-shadow:    0px 5px 10px 0px #888888;
  box-shadow:         0px 5px 10px 0px #888888;
}

.back-right-img {
  position: absolute;
  right: 10px;
  top: 60px;
}

/* API resource quotes */
.quote {
  background: url('../img/double-quote-40x26.png');
  background-position: left top;
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}

/* Progress loading wheel */
.in-progress {
  margin-left: 10px;
}

/* Each result block */
div.result-block {
  padding: 2px;
}

/* light-cream background */
div.shade {
  background-color: #F2EFE5;
}
